body{
    margin: 0;
    padding: 0;
    background-color: #f0eeee;
}
.logincontainer{
    display: flex;
    height: 100vh;
}
#log {
    flex-basis: 50%;
}
#log>img{
    width: 100%;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px, 120px;
    align-items: center;
    flex-basis: 50%;
}
.login-head{
    color: #2C2C2C;
    width: 360px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 32px; 
    margin-bottom: -20px;
    padding-right: 10px;
}

.login-option{
    margin-top: 12px;
    display: flex;
    width: 360px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    color: rgba(40, 36, 36, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10px;
    word-spacing: 8px;
    word-spacing: center;
    text-align: center;
}

.login-option>span{
    color: #A812C0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 32px;
}
input{
    width: 12px;
    height: 20px;
    padding: 10px 14px;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--new-pry, #A812C0);
    background: #FCFCFC;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
input:focus{
    border: 1px solid deepskyble;
    outline: none;
}
#pass>button{
    display: flex;
    width: 100%;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 5px;
    border: 1px solid var(--new-pry, #A812C0);
    background: var(--new-pry, #A812C0);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    
}
#pass>button>a{
    text-decoration: none;
    color: #FCFCFC;
    font-family: Campton;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

