body{
    margin: 0;
    padding: 0;
    background-color: #f0eeee;
}

#log {
    height: 200px;
    width: 50%;
}

.logincontainer{
    display: flex;
    height: 100vh;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px, 120px;
    align-items: center;
    flex-basis: 50%;
}
.login-head{
    color: #2C2C2C;
    width: 360px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 32px; 
    margin-bottom: -20px;
    padding-right: 10px;
}

.login-option{
    margin-top: 12px;
    display: flex;
    width: 360px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    color: rgba(40, 36, 36, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10px;
    word-spacing: 8px;
    word-spacing: center;
    text-align: center;
}

.login-option>span{
    color: #A812C0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#pass {
    padding-right: 10px;
    text-align: center;
}

.login-link {
    color: #A812C0;
    background-color: #A812C0;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5px;
    padding-top: 2px;
    border: 3px solid var(--new-pry, #e8a8f0);
    border-radius: 20px;
    box-shadow: 15px 8px 2px 0px rgba(3, 0, 0, 0.05);
    
}

.login-link2{
    text-align: center;
    font-size: larger;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    
}

